<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p [%t] %C{1}:%M:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>

    <appender name="flink" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/flink.log"/>
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{yyyy-MM-dd HH:mm:ss} [%t] %c:%M:%L - %m%n"/>
        </layout>
    </appender>


    <appender name="job" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/job.log"/>
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{yyyy-MM-dd HH:mm:ss} [%t] %c:%M:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="api" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/api.log"/>
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{yyyy-MM-dd HH:mm:ss} [%t] %c:%M:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="alarm" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/alarm-error.log"/>
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="20MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>

    <logger name="org.apache.flink.fs.osshadoop.shaded.com.aliyun.oss">
        <level value="error"/>
    </logger>

    <logger name="com.ververica.cdc.connectors.mysql.source.utils">
        <level value="error"/>
    </logger>

    <logger name="api" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="api"/>
        <appender-ref ref="alarm"/>
    </logger>

    <logger name="job" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="job"/>
        <appender-ref ref="alarm"/>
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="console"/>
        <appender-ref ref="flink"/>
    </root>

</log4j:configuration>